/* refers to the top-level element(html) in CSS */
/* good to use as a global variable */
/* also good for theme changes (dark mode, etc.) */
:root {
  --main-bg-color: white;
  --main-text-color: black;
}

* {
  /*
  box sizing
    - (defualt)content-box: 'width' does not include 'padding' and 'border'
    - border-box: 'width' includes 'padding' and 'border'
  */
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  display: block;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  /* removes body's default margin, padding */
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 6.45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: Ensures the header stays above other elements. */
  z-index: 1;
  /* keeps the header at the top while scrolling. */
  position: fixed;
  /* 
  rgb(red, green, blue) or #rrggbb is hard to predict colors just by looking at numbers,
  but hsl(hue, saturation, lightness) is more intuitive when adjusting colors. 
  e.g. 
    hsl
      - hue: 0~360 (0:red, 120:green, 240:blue, 360:red)
      - saturation: 0~100% (0:gray, 100:full color)
      - lightness: 0~100% (0:black, 100:white)
  
   alpha: controls transparency for smooth UI effects 
  */
  background: hsla(0, 0%, 100%, 0.1);
  /* makes it look blurry */
  backdrop-filter: blur(10px);
  color: var(--main-text-color);
}

nav {
  display: flex;
  /* justify-content: space-between; */
}

nav > ul > li {
  margin-right: 30rem;
  font-size: 1.25rem;
  /* removes the link underline */
  text-decoration: none;
  font-weight: bold;
  color: var(--main-text-color);
}

nav > ul > li > a:hover {
  /* add underscores while hovering */
  text-decoration: underline;
}

nav ul {
  /* removes the default list style */
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  color: var(--main-text-color);
  text-decoration: none;
}

main {
  display: flex;
  /* limits text length by character count */
  max-width: 100ch;
  /* If you set margin to auto, it will be centered. 
  What is auto, and why is it still centered when the screen is shrunk or stretched? */
  margin: 0 auto;
  padding: 5rem 13rem;
  font-size: 1.25rem;
}

aside {
  height: 1rem;
  position: sticky;
  top: 7.7rem;
}

aside ul {
  list-style: none;
  padding: 1rem 1rem;
}

aside ul li {
  margin-bottom: 1rem;
}

aside ul li a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--main-text-color);
}

aside ul li a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  color: var(--main-text-color);
}

footer a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  header {
    padding: 3rem;
  }
}
