/* eb-garamond-regular - latin */
@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  // src: url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Pretendard-Medium'),
       // url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$asset_url}/fonts/Pretendard-Medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('#{$asset_url}/fonts/Pretendard-Medium.woff') format('woff'), /* Modern Browsers */
       url('#{$asset_url}/fonts/Pretendard-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
       // url('#{$asset_url}/fonts/eb-garamond-v9-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}
